<!--
tulisan heading 1 di atas akan dimunculkan 
pada bagian <%- body %> dan tulisan setelah <%- contentFor(‘title’) %> dimunculkan di bagian <%- title %> 
sesuai dengan layout yang telah dibuat
-->
<h1>Member Area</h1> 
<%- contentFor('title') %>
Member Area 